// Main less file for your application.
// Use `@import` to use other less files
// relative to 'app/css' or 'vendor/css'.
@main-color: #FC4A1A;
@second-color: #fc7a1d;
@comp-color: #4ABDAC;
@dark-comp-color: #1f564e;
@background: #ffd27f;
@green: #589424;
@red: #d13834;

.main-font {
  font-family: 'Baloo', cursive;
}

.text-wrap {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}

.rounded-bubble (@radius:0.5em) {
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  -o-border-radius: @radius;
  -khtml-border-radius: @radius;
  -ms-border-radius: @radius;
  border-radius: @radius;
}

.rounded-btn (@radius-btn:0.3em) {
  -moz-border-radius: @radius-btn;
  -webkit-border-radius: @radius-btn;
  -o-border-radius: @radius-btn;
  -khtml-border-radius: @radius-btn;
  -ms-border-radius: @radius-btn;
  border-radius: @radius-btn;
}

.general-button {
  font-size: 1.4em;
  line-height: 1.2em;
  white-space: normal;
  text-shadow: none;
  background-color: @main-color;
  border: solid @main-color 0.2rem;
  box-shadow: none;
  margin: 0;
  padding: 0.3rem 0.6rem;
  .rounded-btn();
}

.button-interaction {
  outline: none !important;
  background-color: white;
  border: solid @main-color 0.2rem;
  color: @main-color;
}
/* -------------------------------------------------------------------- */
body,
html {
  .main-font();
  font-size: 22px;
  line-height: 1.25em;
  text-align: center;
  color: white;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: @background;
}

header h1 {
  color: @main-color;
  margin: 0 0 1rem;
}

.logo-text {
  max-height: 3em;
  margin: 0.1em auto 0.3em;
  padding: 0;
}

.small-text {
  font-size: 0.7em;
  line-height: 1.2em;
  margin: 0;
}
/* ------------------------------ VERTICALLY CENTER PAGES ------------------------------ */
.vertical-center {
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-content: space-around;
  align-content: space-around;
  margin: 0.8rem auto;
}
/* ------------------------------ BUBBLE ------------------------------ */
/* °°°°°°°°° CENTER TEXT INSIDE BUBBLE & GENERALITIES °°°°°°°°° */
.bubble {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  position: relative;
  padding: 0.7rem;
  background-color: @comp-color;
  border: solid @comp-color 0.1rem;
  .rounded-bubble();
}

.bubble:before {
  content: "";
  position: absolute;
  border-style: solid;
}

.bubble p {
  margin: 0;
  padding: 0;
}
/* ////////////// TRIANGLE LEFT & RIGHT ////////////// */
.bubble.left:before,
.bubble.right:before {
  top: 50%;
  margin-top: -0.7rem;
  border-top-color: transparent;
  border-color: transparent @comp-color;
}
/* ////////////// TRIANGLE LEFT ////////////// */
.bubble.left:before {
  right: 100%;
}

.bubble.left:before {
  border-width: 0.7rem 0.7rem 0.7rem 0;
}
/* ////////////// TRIANGLE RIGHT ////////////// */
.bubble.right:before {
  left: 100%;
}

.bubble.right:before {
  border-width: 0.7rem 0 0.7rem 0.7rem;
}
/* ////////////// TRIANGLE BOTTOM & TOP ////////////// */
.bubble.bottom:before,
.bubble.top:before {
  left: 50%;
  margin-left: -0.8rem;
  border-color: @comp-color transparent;
}
/* ////////////// TRIANGLE BOTTOM ////////////// */
.bubble.bottom:before {
  top: 100%;
}

.bubble.bottom:before {
  border-width: 0.8rem 0.8rem 0;
}
/* ////////////// TRIANGLE TOP ////////////// */
.bubble.top:before {
  bottom: 100%;
}

.bubble.top:before {
  border-width: 0 0.8rem 0.8rem;
}
/* ------------------------------ ACCUEIL ------------------------------ */
.bubble.bottom.home {
  margin-bottom: 1.2rem;
}

.avatar-home {
  margin: 0 0 1rem;
  padding: 0;
}

.connect button,
.discover button {
  .general-button;
  margin-bottom: 0.5rem;
}

.connect button:active,
.connect button:focus,
.connect button:hover,
.discover button:active,
.discover button:focus,
.discover button:hover {
  .button-interaction();
}
/* ------------------------------ JE MANGE DEJA ------------------------------ */
.advice {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

section h2 {
  font-size: 1.4em;
  color: @comp-color;
  margin: 1rem 0 0.7rem;
}

.manger-item {
  min-height: 9rem;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  cursor: pointer;
}

.color-food {
  -webkit-filter: none;
  filter: none;
}

.manger-item img {
  margin: 0;
  padding: 0;
}

.manger-item h3 {
  font-size: 1em;
  color: @main-color;
  margin: 0.5rem 0 0.8em;
  .text-wrap();
}

.select button {
  .general-button;
  font-size: 1em;
  margin: 0 0 0.7rem;
}

.select button:active,
.select button:focus,
.select button:hover {
  .button-interaction();
}

.page-item i {
  font-size: 0.7rem;
}

.page-link .ok {
  .general-button();
  font-size: 1.4em;
}

.page-link .ok:active,
.page-link .ok:focus,
.page-link .ok:hover {
  .button-interaction();
}

.currentclass {
  display: list-item;
}
/* ------------------------------ AVATAR ------------------------------ */
.choice-avatar {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  margin: 1.2rem auto 0.8rem;
}

.input-name {
  border: solid @main-color 0.2rem;
  border-radius: 0.3em;
}

.name button {
  .general-button();
  margin-top: 1rem;
}

.name button:active,
.name button:focus,
.name button:hover {
  .button-interaction();
}
/* ------------------------------ PROFIL - MODIFIER ------------------------------ */
.nav.nav-tabs {
  border: none;
}

.onglets-profil {
  font-size: 1em;
  color: @comp-color;
  border: solid @comp-color 0.2rem;
  border-radius: 0 0 0.3em 0.3em;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 0.3rem 0;
}

.vueModifier {
  margin: 0.7rem 0 0;
}

.changename h2 {
  font-size: 1.4em;
  color: @main-color;
}

.changename h2 button {
  .general-button();
  font-size: 1rem;
  line-height: 0;
  padding: 0.3em;
}

.changename h2 button:active,
.changename h2 button:focus,
.changename h2 button:hover {
  .button-interaction();
}

.close-modal .close span,
.deconnect-modal .close span {
  font-size: 1.4rem;
  background-color: transparent;
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
}

.deconnect-modal .close {
  background-color: transparent;
  border-color: transparent;
}

.deconnect-modal .close:active,
.deconnect-modal .close:focus,
.deconnect-modal .close:hover {
  background-color: transparent;
  border-color: transparent;
}

.deconnect-modal label,
.name-modal label {
  color: @main-color;
}

.name-modal input {
  margin: 0.3rem 0 0;
}

.cancel-valid button,
.name-modal .valid-name {
  .general-button();
  margin: 0.7rem 0 0;
  color: white;
}

.cancel-valid button:active,
.cancel-valid button:focus,
.cancel-valid button:hover,
.name-modal .valid-name:active,
.name-modal .valid-name:focus,
.name-modal .valid-name:hover {
  .button-interaction();
  border-color: @main-color;
  color: @main-color;
}

.deconnect button {
  .general-button();
  font-size: 1em;
  background-color: red;
  border-color: red;
  margin: 1rem 0 0;
}

.deconnect button:active,
.deconnect button:focus,
.deconnect button:hover {
  .button-interaction();
  color: red;
  border-color: red;
}
/* ------------------------------ PROFIL - RECOMPENSE ------------------------------ */
.challenge {
  font-size: 0.7em;
  line-height: 1em;
  color: @main-color;
}

.vueMesRecompenses {
  margin: 1rem 0 0;
}

.table tbody tr td {
  vertical-align: middle;
  .text-wrap();
}

.table,
.table tbody + tbody,
.table-bordered tbody tr td {
  border: none;
}

.panel {
  border-radius: 0.5rem;
  border: solid 0.2rem @main-color;
  background-color: transparent;
}

.table-bordered tbody tr {
  border-bottom: solid 0.2rem @main-color;
}

.table-bordered tbody tr .img-column {
  border-right: solid 0.2rem @main-color;
}

td h3,
td p {
  margin: 0;
}

td h3 {
  font-size: 1rem;
  color: @comp-color;
}
/* ------------------------------ LOGIN & REGISTER ------------------------------ */
.login p,
.register p {
  margin: 0 auto 0.5rem;
}

.login button,
.register button {
  .general-button;
}

.login button:active,
.login button:focus,
.login button:hover,
.register button:active,
.register button:focus,
.register button:hover {
  .button-interaction();
}
/* ------------------------------ J'AI GOUTER ------------------------------ */
.searchbar {
  margin: 0 0 1rem;
  padding: 0;
}

.gouter-item {
  min-height: 9rem;
  cursor: pointer;
}

.gouter-item h3 {
  font-size: 1em;
  color: @main-color;
  margin: 0.5rem 0 0;
  .text-wrap();
}

.gouter-item img {
  margin: 0;
  padding: 0;
}

.circle-vote {
  margin: 0 0 1rem;
}

.circle-vote i {
  font-weight: bold;
  font-size: 0.7em;
  color: white;
  margin: 0;
  padding: 0;
}

.circle-vote .liked {
  color: @green;
}

.circle-vote .notliked {
  color: @red;
}

/* ------------------------------ MODAL - GOUTER ------------------------------ */
.modal-content {
  background-color: @background;
}

.food-modal .close span {
  font-size: 1.4rem;
  line-height: 0;
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  background-color: transparent;
}

.modal-header h1 {
  font-size: 2em;
  color: @main-color;
  margin: 0.5rem 0 0;
  padding: 0;
}

.modal-header {
  padding-bottom: 0;
}

.modal-body {
  padding: 0.5rem 1rem;
}

.modal-body h2 {
  font-size: 1.4em;
  color: @main-color;
  margin: 0.5rem 0 0.3rem;
}

.modal-body p {
  font-size: 1em;
  line-height: 1.1em;
  color: @dark-comp-color;
}

.vote {
  margin-top: 0.5rem;
  margin-bottom: 0.7rem;
}

.vote button {
  font-size: 1.6em;
  line-height: 0;
  border-radius: 100%;
  padding: 0.5rem;
}

.green button {
  background-color: @green;
  border: solid 0.2rem @green;
}

.red button {
  background-color: @red;
  border: solid 0.2rem @red;
}

.vote button i {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0);
}

.green button:active,
.green button:focus,
.green button:hover,
.red button:active,
.red button:focus,
.red button:hover {
  background-color: white;
  outline: none !important;
}

.green button:active,
.green button:focus,
.green button:hover {
  color: @green;
}

.red button:active,
.red button:focus,
.red button:hover {
  color: @red;
}

.vote h3 {
  font-size: 1em;
  margin: 0.5rem 0 0;
}

.green h3 {
  color: @green;
}

.red h3 {
  color: @red;
}

.a-gouter button {
  .general-button;
  font-size: 1.4em;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.a-gouter button:active,
.a-gouter button:focus,
.a-gouter button:hover {
  .button-interaction();
}
/* ------------------------------ CONTRE-INDICATION & GOUTER - TO TASTE ------------------------------ */
.contraindication.bubble.top {
  margin: 1rem auto;
}

.contraindication p:first-child {
  margin-bottom: 0.4rem;
}

.search-contre label {
  font-size: 0.7em;
  color: @dark-comp-color;
  margin-bottom: 0.5rem;
}

.btn-add span {
  background-color: transparent;
}

.taste h2 {
  margin-top: 0.4rem;
}

.contre-item,
.to-taste {
  min-height: 10rem;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-content: space-around;
  align-content: space-around;
  margin-bottom: 0.5rem;
  padding: 0.4rem;
  border: solid @main-color 0.2rem;
  .rounded-bubble();
}

.to-taste {
  min-height: 9rem;
}

.contre-item .cancel,
.to-taste .cancel {
  font-size: 1.4em;
  line-height: 0;
  color: @main-color;
  opacity: 1;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.contre-item img,
.to-taste img {
  margin: 0;
  padding: 0;
}

.contre-item h3,
.to-taste h3 {
  font-size: 1em;
  color: @main-color;
  margin: 0.5rem 0 0;
  .text-wrap();
}

.contre-item h4,
.contre-item h5 {
  font-size: 0.7em;
}

.contre-item h4 {
  color: @comp-color;
  margin: 0.1rem 0 0;
}

.contre-item h5 {
  color: @dark-comp-color;
  margin: 0.2rem 0 0;
}

.cancel-all,
.contre-ok {
  .general-button;
  .text-wrap();
}

.cancel-all {
  font-size: 1em;
  margin-bottom: 0.5rem;
}

.cancel-all:active,
.cancel-all:focus,
.cancel-all:hover,
.contre-ok:active,
.contre-ok:focus,
.contre-ok:hover {
  .button-interaction();
}
/* ------------------------------ TUTORIEL ------------------------------ */
.tutoriel-page {
  opacity: 0.5;
}

.search-tutoriel {
  margin-top: 20px;
}

.tutoriel {
  position: fixed;
  z-index: 1;
}

.tutoriel-avatar {
  margin-top: 30px;
}

.tutoriel.bubble.top {
  margin-top: 20px;
  height: 190px;
  font-size: 1.7em;
}
/* ------------------------------ acceder à mon compte ------------------------------ */
.avatar-compte {
  padding: 0 0 1rem;
}

.compte button {
  .general-button;
  padding: 0.3rem;
}

.compte button:first-of-type,
.compte p {
  margin-bottom: 0.5rem;
}

.compte button:active,
.compte button:focus,
.compte button:hover {
  .button-interaction();
}
/* ------------------------------  NAVBAR ANON  ------------------------------ */
.navbar-default {
  border: none;
}

.navbar-default .container-fluid {
  background-color: @second-color;
  border: none;
}

.dropdown {
  padding: 0;
  margin: 0.2rem 0;
}

.dropdown .dropdown-toggle {
  background-color: @second-color;
  padding: 0.2rem 0;
  border: none;
}

.dropdown .dropdown-toggle:active,
.dropdown .dropdown-toggle:focus,
.dropdown .dropdown-toggle:hover {
  background-color: @second-color;
  color: white;
  border: none;
}

.dropdown-toggle img {
  margin: 0;
  padding: 0;
}

.dropdown-menu {
  text-align: center;
  background-color: @second-color;
  border: none;
}

.overlay-content h1 {
  font-size: 2em;
  color: @main-color;
  margin: 25px 0;
  padding: 0;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  background-color: @main-color;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 30%;
  width: 100%;
  color: white;
}

.overlay-content h2 {
  font-size: 1.8em;
}

.glyphicon-menu-hamburger {
  margin-left: 6rem;
}

.glyphicon-menu-hamburger,
.glyphicon-remove {
  opacity: 0.6;
}

.menu a {
  color: white;
  font-size: 50px;
}

ul {
  list-style-type: none;
}
/* ------------------------------ NAVBAR USER ------------------------------ */
.mini-avatar {
  margin: 0.2rem 0;
  padding: 0;
  width: 3rem;
}

.add-kids {
  font-weight: bold;
  font-size: 2em;
  line-height: 1em;
  color: white;
  background-color: @main-color;
  border-radius: 100%;
  margin: 0.2rem 0;
}
