// Main less file for your application.
// Use `@import` to use other less files
// relative to 'app/css' or 'vendor/css'.

@mainColor: #B3404A;
@secondColor: #F4B2B0;
@green: green;
@red: red;

.rounded (@radius: 10px) {
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  -o-border-radius: @radius;
  -khtml-border-radius: @radius;
  -ms-border-radius: @radius;
  border-radius: @radius;
}


/* -------------------------------------------------------------------- */

body,
html {
    font-family: Helvetica, sans-serif;
    text-align: center;
    color: black;
    height: 100%;
    margin: 0;
    padding: 0;
}
/* ------------------------------ BUTTON ------------------------------ */
/* Use of !important necessary for style to apply to all buttons in the application.
By adding a specific class before the world "button", it is possible to adjust the height
of the button, for example, for specific pages. (Example : Cmd + F ".discover button") */
button {
    background-color: @mainColor !important;
    border: none !important;
    padding: 0 !important;
}

button:active,
button:focus,
button:hover {
    background-color: white !important;
    border: solid @mainColor 5px !important;
    color: @mainColor !important;
}
/* ------------------------------ BUBBLE ------------------------------ */
/* °°°°°°°°° CENTER TEXT INSIDE BUBBLE & GENERALITIES °°°°°°°°° */
.bubble {
    height: 90px;
    display: flex;
    align-items: center;
    position: relative;
    border: solid @mainColor 4px;
    .rounded();
}

.bubble:after,
.bubble:before {
    content: "";
    position: absolute;
    border-style: solid;
}

.bubble p {
    margin: auto;
    font-size: 18px;
    padding: 0 10px;
}
/* ////////////// TRIANGLE LEFT & RIGHT ////////////// */
.bubble.left:before,
.bubble.right:before {
    top: 50%;
    margin-top: -14px;
    border-top-color: transparent;
    border-color: transparent @mainColor;
}

.bubble.left:after,
.bubble.right:after {
    top: 50%;
    margin-top: -8px;
    border-color: transparent white;
}
/* ////////////// TRIANGLE LEFT ////////////// */
.bubble.left:after,
.bubble.left:before {
    right: 100%;
}

.bubble.left:before {
    border-width: 14px 14px 14px 0;
}

.bubble.left:after {
    border-width: 8px 8px 8px 0;
}
/* ////////////// TRIANGLE RIGHT ////////////// */
.bubble.right:after,
.bubble.right:before {
    left: 100%;
}

.bubble.right:before {
    border-width: 14px 0 14px 14px;
}

.bubble.right:after {
    border-width: 8px 0 8px 8px;
}
/* ////////////// TRIANGLE BOTTOM & TOP ////////////// */
.bubble.bottom:before,
.bubble.top:before {
    left: 50%;
    margin-left: -14px;
    border-color: @mainColor transparent;
}

.bubble.bottom:after,
.bubble.top:after {
    left: 50%;
    margin-left: -8px;
    border-color: white transparent;
}
/* ////////////// TRIANGLE BOTTOM ////////////// */
.bubble.bottom:after,
.bubble.bottom:before {
    top: 100%;
}

.bubble.bottom:before {
    border-width: 14px 14px 0;
}

.bubble.bottom:after {
    border-width: 8px 8px 0;
}
/* ////////////// TRIANGLE TOP ////////////// */
.bubble.top:after,
.bubble.top:before {
    bottom: 100%;
}

.bubble.top:before {
    border-width: 0 14px 14px;
}

.bubble.top:after {
    border-width: 0 8px 8px;
}
/* ------------------------------ ACCUEIL ------------------------------ */
.bubble.bottom.home {
    height: 160px;
    margin-bottom: 8%;
}

.avatar.home {
    height: 300px;
    margin: 0 0 8%;
    padding: 0;
}

.discover button,
.login button {
    height: 80px;
    font-size: 30px;
    margin-bottom: 3%;
}
/* ------------------------------ JE MANGE DEJA ------------------------------ */
header {
    background-color: @secondColor;
}

header h1 {
    font-size: 26px;
    font-weight: bold;
    color: white;
    margin: 25px 0;
    padding: 0;
}

.advice {
    margin: 3% 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.avatar img {
    height: 100px;
    margin: 0;
    padding: 0;
}

section h2 {
    font-size: 26px;
    font-weight: bold;
    margin: 5% 0 8%;
    padding: 0;
}

.manger {
    list-style-type: none;
    padding: 0;
}

.manger li {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 8%;
    cursor: pointer;
    color: @mainColor;
}

.manger li img {
    margin-bottom: 8%;
}

.manger-valider button {
    height: 70px;
    letter-spacing: 0.6px;
}

.manger-valider .all {
    font-size: 20px;
}

.manger-valider .ok {
    font-size: 26px;
}

nav .pagination {
    margin-top: 8%;
    padding: 0;
}

nav .pagination li a {
    font-size: 18px;
    color: @mainColor;
    padding: 0 5px;
    border: none;
}

nav .pagination li a:hover {
    color: @secondColor;
    border: none;
    background-color: transparent;
}

nav .pagination li a .glyphicon-chevron-left {
    padding-right: 20px;
}

nav .pagination li a .glyphicon-chevron-right {
    padding-left: 20px;
}
/* ------------------------------ AVATAR ------------------------------ */
.bubble.bottom.avatar {
    height: 90px;
}

.dart {
    margin-top: 100px;
    background-color: @mainColor;
    color: white;
    font-size: 100px;
    border-radius: 100%;
    height: 250px;
}

.choice-avatar {
    margin-top: 50px;
}

.inputName {
    margin-top: 50px;
    border: solid @mainColor 4px;
    border-radius: 10px;
}

.name button {
    height: 60px;
    font-size: 26px;
    margin-top: 12%;
}
/* ------------------------------ Profil ------------------------------ */
.miniAvatar {
  margin-top: 7px;
    height: 60px;
    border-radius: 100%;
}

.addKids {
    margin-top: 7px;
    background-color: @mainColor;
    color: white;
    font-size: 30px;
    border-radius: 100%;
    height: 60px;
}
.ongletsProfil {
  font-size: 20px;
  color: @mainColor;
border: solid @mainColor 4px;
border-radius: 0 0 10px 10px;
}

.imgRecompense {
  height: 150px;
}

.glyphicon {
  background-color: white;
}

.flex-center-vertically {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 400px;
}

/* ------------------------------ login ------------------------------ */

.bubble.top.login {

  height: 600px;
}

.btn span.glyphicon {
	opacity: 0;
}
.btn.active span.glyphicon {
	opacity: 1;
}
