<div class="container vertical-center">

  <div class="col-xs-12 advice">
    <div class="bubble bottom avatar">
      <p>Indique-moi ton prénom et choisi un avatar&nbsp;!</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 choice-avatar">
      <button type="button" class="col-xs-3 btn btn-circle btn-lg" ng-click="prev()"><i class="glyphicon glyphicon-chevron-left"></i></button>
      <img class="col-xs-6 img-responsive" ng-src="{{currentAvatar}}" alt="Avatar" />
      <button type="button" class="col-xs-3 btn btn-circle btn-lg" ng-click="next()"><i class="glyphicon glyphicon-chevron-right"></i></button>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <input class="form-control input-lg input-name" type="text" placeholder="Comment t'appelles-tu&nbsp;?" ng-model="userName">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-offset-2 col-xs-8 name">
      <button class="btn btn-primary btn-block ok" type="submit" ui-sref="anon.contreIndication" ng-click="validProfil">OK</button>
    </div>
  </div>

</div>
