<div class="container vertical-center">

    <div class="col-xs-12 advice">
        <div class="bubble bottom avatar">
            <p>Indique-moi ton prénom et choisi un avatar&nbsp;!</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 choice-avatar">

            <img type="button" class="col-xs-3" src="/img/arrow-left.svg" alt="Précédent" ng-click="prev()" />

            <div ng-show="!showActions" ng-swipe-left="showActions = true">
                <img class="col-xs-6 img-responsive" ng-src="{{currentAvatar}}" alt="Avatar" />
            </div>

            <img type="button" class="col-xs-3" src="/img/arrow-right.svg" alt="Suivant" ng-click="next()" />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <input class="form-control input-lg input-name" type="text" placeholder="Comment t'appelles-tu&nbsp;?" ng-model="userName">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-offset-2 col-xs-8 name">
            <button class="btn btn-primary btn-block ok" type="submit" ui-sref="anon.contreIndication" ng-click="validProfil">Valider</button>
        </div>
    </div>

</div>
