<div class="container-fluid vertical-center">

  <div class="container">

    <header class="row">
        <div class="col-xs-12">
            <h1>Contre-indication</h1>
        </div>
    </header>

    <section class="row">
        <div class="col-xs-offset-3 col-xs-6 contre-indicationavatar">
            <img ng-src="/img/penguin.svg" alt="Mon avatar" />
        </div>
    </section>

    <section class="row">
        <div class="col-xs-offset-1 col-xs-10 contre-indication bubble top">
            <p>
              Dis-moi s'il y a des aliments que tu ne peux pas manger&nbsp;!<br>Demande l'aide d'un adulte pour ne rien oublier.
            </p>
        </div>
    </section>

    <section class="row search-contre">
        <form ng-submit="goSearch()">
            <div class="col-xs-offset-1 col-xs-10 input-group">
                <input id="input" class="form-control input-lg" type="text" placeholder="Rechercher" list="counters" ng-model="query"/>
                <datalist id="counters">
                      <div ng-repeat="(key, value) in foodList">
                        <option value="{{ key }}"></option>
                        <div ng-repeat="food in value.aliments">
                          <option value="{{ food.name }}"></option>
                          <option value="{{ arrayToString(food.composition) }}"></option>
                        </div>
                      </div>
                </datalist>
                <span class="input-group-btn">
                  <!-- ng-click="selectItem()" -->
                    <button class="btn btn-default btn-lg" type="button" ng-click="addItem()">
                      <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </form>
        <p>Exemple : gluten, produits laitiers, porc...</p>
    </section>

    <section class="row">
      <div class="gouter" ng-repeat="item in items">
        <div class="col-xs-4 gouter-item">
          <img src="{{ item.picto }}" alt="{{ arrayToString(item.nameFood) }}" />
          <h3>{{ arrayToString(item.nameFood) }}</h3>
          <h4>{{ item.categorie }}</h4>
          <button class="btn btn-primary btn-lg cancel" type="button" name="button">Annuler</button>
        </div>
      </div>

    </section>

    <!-- <section class="row" ng-repeat="(key, value) in foodList" ng-if="counterSearch">
      <h2>{{ key }}</h2>
        <div class="gouter" ng-repeat="food in value.aliments | filter:counterSearch track by $index">
          <div class="col-xs-4 gouter-item" name="{{ food.name }}">
              <img src="{{ food.picto }}" alt="{{ food.name }}" />
              <h3>{{ food.name }}</h3>
              <button class="btn btn-primary btn-lg cancel" type="button" name="button">Annuler</button>
          </div>
        </div>
    </section> -->


    <!-- <section class="row">
        <div class="col-xs-offset-4 col-xs-4 gouter-item">
            <img ng-src="/img/shrimp.svg" alt="Crevette">
            <h3>Crevette</h3>
        </div>
    </section> -->

    <section class="row contre-indication-valider">
        <a ui-sref="anon.manger">
            <button class="col-xs-offset-4 col-xs-4 btn btn-primary btn-lg ok" type="button" name="button">OK</button>
        </a>
    </section>

  </div>

</div>
