<div class="container-fluid">

    <header class="row">
        <div class="col-xs-12">
            <h1>Contre-indication</h1>
        </div>
    </header>

    <section class="row">
        <div class="col-xs-offset-4 col-xs-4 contreIndicationavatar">
            <img src="https://image.flaticon.com/icons/png/128/78/78373.png" alt="Avatar of the user" />
        </div>
    </section>

    <section class="row">
        <div class="col-xs-offset-3 col-xs-6 contreIndication bubble top">
            <p>Dis-moi s'il y a des aliments que tu ne peux pas manger&nbsp;! <br> Demande l'aide d'un adulte pour ne rien oublier.
            </p>
        </div>
    </section>


    <section class="row searchcontre">
        <form ng-submit="goSearch()">
            <div class="col-xs-offset-1 col-xs-10 input-group">
                <input class="form-control input-lg" id="textInput" placeholder="Rechercher" />

                <span class="input-group-btn">
                      <button class="btn btn-default btn-lg" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
                </span>
            </div>
        </form>
        <p>Exemple : gluten, produits laitiers, porc...</p>
        <div id="suggestion-container">
            <ul id="suggestion"></ul>
        </div>
    </section>

    <section class="row">
        <div class="col-xs-2 circle">
            <i class="fa fa-circle" aria-hidden="true" style="color: green;"></i>
            <p>Lait</p>
        </div>
    </section>

    <section class="row contreIndication-valider">
        <a ui-sref="anon.manger">
            <button class="col-xs-offset-4 col-xs-4 btn btn-primary btn-lg ok" type="button" name="button">OK</button>
        </a>
    </section>

</div>
