<div class="container-fluid">

    <header class="row">
        <div class="col-xs-12">
            <h1>J'ai goûté</h1>
        </div>
    </header>

    <section class="row">
        <form ng-submit="goSearch()">
          <div class="col-xs-offset-1 col-xs-10 input-group">
            <input class="searchbar form-control input-lg" placeholder="Rechercher" />
            <span class="input-group-btn">
              <button class="btn btn-default btn-lg" type="button">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
        </form>
    </section>

    <section class="row">
      <h2>Fruits</h2>
      <div class="gouter">
        <div class="col-xs-4">
          <img src="../../img/pineapple.svg" alt="{{ }}" />
          <h3>Ananas</h3>
          <div class="circleVote">
            <i class="fa fa-circle" aria-hidden="true" style="color: green;"></i>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-xs-4">
          <img src="../../img/banana.svg" alt="{{ }}" />
          <h3>Banane</h3>
          <div class="circleVote">
            <i class="fa fa-circle-o" aria-hidden="true"></i>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-xs-4">
          <img src="../../img/cherries.svg" alt="{{ }}" />
          <h3>Cerise</h3>
          <div class="circleVote">
            <i class="fa fa-circle-o" aria-hidden="true"></i>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-xs-4">
          <img src="../../img/strawberry.svg" alt="{{ }}" />
          <h3>Fraise</h3>
          <div class="circleVote">
            <i class="fa fa-circle-o" aria-hidden="true"></i>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-xs-4">
          <img src="../../img/orange.svg" alt="{{ }}" />
          <h3>Orange</h3>
          <div class="circleVote">
            <i class="fa fa-circle-o" aria-hidden="true"></i>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-xs-4">
          <img src="../../img/grapes.svg" alt="{{ }}" />
          <h3>Raisin</h3>
          <div class="circleVote">
            <i class="fa fa-circle-o" aria-hidden="true"></i>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </section>

</div>
