<div class="container-fluid">

    <header class="row">
        <div class="col-xs-12">
            <h1>J'ai goûté</h1>
        </div>
    </header>

    <section class="row searchbar">
        <form ng-submit="goSearch()">
            <div class="col-xs-offset-1 col-xs-10 input-group">
                <input class="form-control input-lg" placeholder="Rechercher" />
                <span class="input-group-btn buttonSearch">
              <button class="btn btn-default btn-lg" type="button">
                <span class="glyphicon glyphicon-search"></span>
                </button>
                </span>
            </div>
        </form>
    </section>

    <section class="row">
        <h2>Fruits</h2>
        <div class="gouter">
            <div class="col-xs-4 gouterItem" data-toggle="modal" data-target="#modal1">
                <img src="../../img/pineapple.svg" alt="{{ }}" />
                <h3>Ananas</h3>
                <div class="circleVote">
                    <i class="fa fa-circle" aria-hidden="true" style="color: green;"></i>
                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-xs-4 gouterItem">

                <img src="../../img/banana.svg" alt="{{ }}" />
                <h3>Banane</h3>
                <div class="circleVote">
                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-xs-4 gouterItem">
                <img src="../../img/cherries.svg" alt="{{ }}" />
                <h3>Cerise</h3>
                <div class="circleVote">
                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-xs-4 gouterItem">
                <img src="../../img/strawberry.svg" alt="{{ }}" />
                <h3>Fraise</h3>
                <div class="circleVote">
                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-xs-4 gouterItem">
                <img src="../../img/orange.svg" alt="{{ }}" />
                <h3>Orange</h3>
                <div class="circleVote">
                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-xs-4 gouterItem">
                <img src="../../img/grapes.svg" alt="{{ }}" />
                <h3>Raisin</h3>
                <div class="circleVote">
                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </section>



    <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-xs-12">
                            <img class="col-xs-offset-2 col-xs-8" src="img/avatar.jpg" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <h1 class="col-xs-12">Banane</h1>
                    </div>
                    <div class="row">
                        <div class="col-xs-offset-3 col-xs-6">
                            <div class="col-xs-12">
                                <div class="circleVote">
                                    <i class="fa fa-circle" aria-hidden="true" style="color: green;"></i>
                                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 description">
                            <h2>Description</h2>
                            <p> les singes les en mangent beaucoup !</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 recomandation">
                            <h2>recomandation</h2>
                            <p> Comme tous les fruits et légumes, il faut en manger au moins 5 par jour.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-offset-1 col-xs-10">
                            <div class="col-xs-6">
                                <i class="fa fa-circle" aria-hidden="true" style="color: green; font-size: 50px;"></i>
                                <h3>J'ai aimé</h3>
                            </div>
                        <div class="col-xs-6">
                            <i class="fa fa-circle" aria-hidden="true" style="color: red; font-size: 50px;"></i>
                            <h3>Je n'ai pas aimé</h3>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-3 col-xs-6">
                    <button class="col-xs-12" type="button" name="button">à goûter</button>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

</div>




</div>
