<div class="container vertical-center">

  <div class="row">
    <div class="col-xs-12">
      <div class="bubble bottom home">
        <p>Bienvenue sur
          <img class="img-responsive logo-text" src="/img/miam-logo.svg" alt="Miam!" /> Ensemble, nous allons découvrir de nouveaux aliments&nbsp;!
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-offset-2 col-xs-8">
      <img class="img-responsive avatar-home" ng-src="/img/penguin.svg" alt="Avatar" />
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 discover">
      <button type="button" class="btn btn-primary btn-block" ui-sref="anon.avatar">Découvrir<br />le jeu&nbsp;!</button>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 connect">
      <button type="button" class="btn btn-primary btn-block" ui-sref="anon.connexionCompte">Se connecter</button>
    </div>
  </div>

</div>
