<div class="container-fluid center-home">

  <div class="container">
    <div class="row">
        <div class="col-xs-12 bubble bottom home">
            <p>Bonjour ! <br> Bienvenue sur <strong>Miam</strong> !<br> Le jeu pour goûter à tout ! <br> Ensemble, nous allons découvrir de nouveaux aliments !</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 text-center">
            <img class="avatar home" src="https://image.flaticon.com/icons/png/128/78/78373.png" alt="Avatar">
        </div>

        <div class="row">
            <div class="col-xs-12 discover">
                <a ui-sref="anon.tutoriel">
                    <button type="button" class="btn btn-primary btn-lg col-xs-12">Découvrir le jeu !</button>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 login">
                <a ui-sref="anon.connexionCompte">
                    <button type="button" class="btn btn-primary btn-lg col-xs-12">Se connecter</button>
                </a>
            </div>
        </div>
    </div>
  </div>

</div>
