<div class="container-fluid vertical-center">

  <div class="row">
    <div class="col-xs-12 bubble bottom home">
      <p>Bienvenue sur</p>
      <img class="img-responsive" src="../../img/miam-logo.svg" alt="Miam!" />
      <p>Ensemble, nous allons découvrir de nouveaux aliments&nbsp;!</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 text-center">
      <img class="img-responsive avatar-home" ng-src="/img/penguin.svg" alt="Avatar" />
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 discover">
      <button type="button" class="btn btn-primary btn-lg btn-block" ui-sref="anon.tutoriel">Découvrir<br />le jeu&nbsp;!</button>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 connect">
      <button type="button" class="btn btn-primary btn-lg btn-block" ui-sref="anon.connexionCompte">Se connecter</button>
    </div>
  </div>

</div>
