<div class="container-fluid vertical-center">

  <div class="container">

    <div class="row">
        <div class="col-xs-12">
            <img class="avatar col-xs-offset-3 col-xs-6" ng-src="/img/penguin.svg" alt="Avatar">
        </div>
    </div>

    <div class="row">
      <div class="col-xs-offset-1 col-xs-10 bubble top login">
        <div class="col-xs-12">
            <p class="col-xs-12">Pour connecter votre enfant à Miam !, il vous suffit d’indiquer votre adresse mail et votre mot de passe.</p>
            <p class="col-xs-12 textRemember">En cochant la case « se souvenir de moi », vous resterez connecté et n’aurez par conséquent plus besoin d’indiquer ces informations.</p>
            <div class="row">
                <div class="col-xs-12">
                    <form class="form" name="loginForm" novalidate ng-submit="login()">
                        <div ng-repeat="error in errors">{{error.error}}</div>
                        <div class="form-group">
                          <input id="email" type="email" class="form-control" ng-model="user.email" required placeholder="Votre adresse email">
                        </div>
                        <div class="form-group">
                          <input id="password" type="password" class="form-control" ng-model="user.password" required placeholder="Votre mot de passe">
                        </div>
                        <div class="form-group remember">
                          <input type="checkbox" ng-model="resterConnecter">
                          <label> Se souvenir de moi</label>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Se connecter</button>
                    </form>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

</div>
