<div class="container vertical-center">

  <header class="row">
    <div class="col-xs-12">
      <h1>Je mange déjà</h1>
    </div>
  </header>

  <section class="row">
    <div class="advice">
      <div class="col-xs-5">
        <img class="img-responsive" ng-src="/img/penguin.svg" alt="Avatar" />
      </div>
      <div class="col-xs-7 bubble left">
        <p>Dis-moi ce que tu manges déjà&nbsp;!</p>
      </div>
    </div>
  </section>

  <section class="row" ng-repeat="categorie in currentCategorie | limitTo : 1">
    <h2>{{ underscore(currentCategorie) }}</h2>
    <div class="manger" ng-repeat="food in foodList[currentCategorie].aliments track by $index">
      <div class="col-xs-4 manger-item" ng-click="selectFood(food)" ng-class="{'color-food': isSelected(food)}">
        <img src="{{ food.picto }}" alt="{{ food.name }}" />
        <h3>{{ underscore(food.name) }}</h3>
      </div>
    </div>
  </section>

  <section class="row select">
    <div class="col-xs-12">
      <button class="btn btn-primary btn-block all" type="button" name="button" ng-click="selectAll()" ng-if="!IsSelectedAll">Tout sélectionner</button>
      <button class="btn btn-primary btn-block all" type="button" name="button" ng-click="selectAll()" ng-if="IsSelectedAll">Tout désélectionner</button>
    </div>
  </section>

  <footer>
    <div class="row">

      <div class="col-xs-3" aria-label="Previous" ng-click="prevCategorie()" ng-disabled="limitPrev">
        <img class="img-responsive" type="button" src="/img/arrow-left.svg" alt="Précédent" />
        <span class="sr-only">Précédent</span>
      </div>

      <div class="col-xs-6">
        <div class="page-item" ng-repeat="categorie in categories">
          <!-- <div class="col-xs-1">
            <i class="fa fa-circle" aria-hidden="true"></i>
            <div class="currentclass" ng-style="set_color(currentcatsymbol)">{{ categorie }}</div>
          </div> -->
        </div>
      </div>

      <div class="col-xs-3" aria-label="Next" ng-click="nextCategorie()" ng-hide="limitNext">
        <img class="img-responsive" type="button" src="/img/arrow-right.svg" alt="Suivant" />
        <span class="sr-only">Suivant</span>
      </div>

      <div class="col-xs-8 page-link" aria-label="Next" ng-click="nextCategorie()" ng-show="limitNext">
        <button class="btn btn-primary btn-lg ok" type="button" name="button" ng-click="ok()">Valider</button>
      </div>

    </div>
  </footer>

</div>
