<div class="container-fluid">

  <header class="row">
    <div class="col-xs-12">
      <h1>Je mange déjà</h1>
    </div>
  </header>

  <section class="row">
    <h2>Fruits</h2>
    <ul class="manger">
      <li class="col-xs-4">
        <img src="http://icon-icons.com/icons2/1166/PNG/128/1488897581-pineapple_81761.png" alt="Ananas">
        Ananas
      </li>
      <li class="col-xs-4">Banane</li>
      <li class="col-xs-4">Fraise</li>
      <li class="col-xs-4">Kiwi</li>
      <li class="col-xs-4">Poire</li>
      <li class="col-xs-4">Pomme</li>
    </ul>
  </section>

</div>
