<div class="container-fluid">

    <header class="row">
        <div class="col-xs-12">
            <h1>Je mange déjà</h1>
        </div>
    </header>

    <section class="row">
        <h2>Fruits</h2>
        <ul class="manger">
            <li class="col-xs-4">
                <img src="../../img/pineapple.svg" alt="{{ }}" /> Ananas
            </li>
            <li class="col-xs-4">
                <img src="../../img/banana.svg" alt="{{ }}" /> Banane
            </li>
            <li class="col-xs-4">
                <img src="../../img/cherries.svg" alt="{{ }}" /> Cerise
            </li>
            <li class="col-xs-4">
                <img src="../../img/strawberry.svg" alt="{{ }}" /> Fraise
            </li>
            <li class="col-xs-4">
                <img src="../../img/orange.svg" alt="{{ }}" /> Orange
            </li>
            <li class="col-xs-4">
                <img src="../../img/grapes.svg" alt="{{ }}" /> Raisin
            </li>
        </ul>
    </section>

    <!-- Utiliser pour chaque page / familles d'aliment un ng-hide/ng-show -->

    <footer>
        <nav class="row">
            <ul class="pagination">
                <li class="page-item active">
                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                </li>
                <li class="page-item disabled">
                    <i class="fa fa-circle" aria-hidden="true"></i>
                </li>
                <li class="page-item disabled">
                    <i class="fa fa-circle" aria-hidden="true"></i>
                </li>
                <li class="page-item disabled">
                    <i class="fa fa-circle" aria-hidden="true"></i>
                </li>
                <li class="page-item disabled">
                    <i class="fa fa-circle" aria-hidden="true"></i>
                </li>
                <li class="page-item disabled">
                    <i class="fa fa-circle" aria-hidden="true"></i>
                </li>
            </ul>
        </nav>
    </footer>

</div>
