<nav class="navbar navbar-default navbar-custom" role="navigation" ng-controller="NavbarController">
    <div class="container-fluid">
        <div class="navbar-header">
            <div id="myNav" class="overlay">

                <button class="col-xs-offset-10 col-xs-1" type="button" class="btn btn-default btn-md closebtn" ng-click="closeNav()">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>

                <div class="row">
                    <div class="col-xs-12">
                        <ul>
                            <li class="menu"><a ui-sref="anon.home">Accueil</a></li>
                            <li class="menu"><a ui-sref="anon.gouter">J'ai goûté</a></li>
                            <li class="menu"><a ui-sref="anon.profil">Mon profil</a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="overlay-content" ng-controller="NavbarController">

          <div class="col-xs-1 dropdown">

              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              avatar<img class="miniAvatar col-xs-1" ng-src="{{currentAvatar}}" alt="avatar">

              <span class="caret"></span>
            </button>

              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="#">photo<img class="miniAvatar col-xs-1" ng-src="{{currentAvatar}}" alt="avatar"></a></li>
                  <li><a href="#">photo<img class="miniAvatar col-xs-1" ng-src="{{currentAvatar}}" alt="avatar"></a></li>
                  <li><a ui-sref="user.avatar"><button type="button" class="btn addKids col-xs-1" ng-click="addKid()">+</button></a></li>
              </ul>
          </div>

          <h1 class="col-xs-10" >Mon profil</h1>

            <button class="col-xs-1" type="button" class="btn btn-default btn-md hamburger-menu" ng-click="openNav()">
                      <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                    </button>

        </div>

    </div>
</nav>
