<div class="container-fluid">

    <div class="col-xs-12">
        <ul class="nav nav-tabs nav-justified">
            <li class="onglets-profil col-xs-6" ng-click="modifier()">Modifier</li>
            <li class="onglets-profil col-xs-6" ng-click="mesRecompenses()">Mes récompenses</li>
        </ul>
    </div>

    <div class="vueModifier" ng-hide="vueModifier">

        <div class="row">
            <div class="col-xs-12 choice-avatar">
                  <button type="button" class="col-xs-3 btn btn-circle btn-lg" ng-click="prev()"><i class="glyphicon glyphicon-chevron-left"></i></button>
                <img class="avatar col-xs-6" ng-src="{{currentAvatar}}" alt="avatar">
                <button type="button" class="col-xs-3 btn btn-circle btn-lg" ng-click="next()"><i class="glyphicon glyphicon-chevron-right"></i></button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2 class="col-xs-offset-4 col-xs-3 flex-center-vertically">Jean</h2>
                <button type="button" class="col-xs-1 glyphicon glyphicon-pencil flex-center-vertically"></button>
            </div>
        </div>
        <button class="col-xs-offset-4 col-xs-4 deconnecter" type="submit" data-toggle="modal" data-target=".modal-deconnected" ng-click="openModal()">se déconnecter</button>

        <div class="row">
            <div class="col-xs-12 name">
                <div class="modal fade modal-deconnected"  ng-hide="hideModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h4 class="modal-title" id="gridSystemModalLabel">Es-tu sûr de vouloir te déconnecter ?</h4>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>

                                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="goHome()">Confirmer</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="vueMesRecompenses" ng-show="vueModifier">
        <div class="col-xs-12 challenge">
            <div class="row" ng-repeat="reward in rewardList" ng-class="isUnlocked">
                <img class="col-xs-4 img-recompense flex-center-vertically" src="{{reward.picto}}" alt="recompense">
                <div class="col-xs-2 name flex-center-vertically">{{ reward.name }}</div>
                <div class="col-xs-6 objectif flex-center-vertically">{{ reward.objectif}}</div>
            </div>
        </div>
    </div>
</div>
