<div class="container vertical-center">

    <div class="row">
        <div class="col-xs-12">
            <ul class="nav nav-tabs">
                <li class="col-xs-5 onglets-profil" ng-click="modifier()">Modifier</li>
                <li class="col-xs-7 onglets-profil" ng-click="mesRecompenses()">Récompenses</li>
            </ul>
        </div>
    </div>


    <div class="row">
      <div class="col-xs-12 choice-avatar">
        <img type="button" class="col-xs-3" src="/img/arrow-left.svg" alt="Précédent" ng-click="prev()" />

        <div ng-swipe-left="prev()" ng-swipe-right="next()" ng-swipe-up="up()" ng-swipe-down="down ()">
          <img class="col-xs-6 img-responsive" ng-src="{{currentAvatar}}" alt="Avatar" />
        </div>

        <img type="button" class="col-xs-3" src="/img/arrow-right.svg" alt="Suivant" ng-click="next()" />
      </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="modal fade modal-changeavatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body name-modal">
                            <div class="row">
                                <div class="col-xs-12">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>

                    <div class="vueModifier" ng-hide="vueModifier">
                      <div class="row">
                        <div class="col-xs-12 choice-avatar">
                          <img type="button" class="col-xs-3 center-block" src="/img/arrow-top.svg" alt="Précédent" ng-click="up()" />
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-xs-12 choice-avatar">
                          <img type="button" class="col-xs-3" src="/img/arrow-left.svg" alt="Précédent" ng-click="prev()" />
                          <img class="col-xs-6 img-responsive" ng-src="{{currentAvatar}}" alt="Avatar" />
                          <img type="button" class="col-xs-3" src="/img/arrow-right.svg" alt="Suivant" ng-click="next()" />
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-xs-12 choice-avatar">
                          <img type="button" class="col-xs-3 center-block" src="/img/arrow-bottom.svg" alt="Suivant" ng-click="down()" />
                        </div>
                      </div>


                  <button class="btn btn-primary btn-block valid-name" type="button" class="valid" ng-click="validAvatar()" data-dismiss="modal">Ok</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-xs-12 changename">
            <h2>{{ userName }}
          <button type="button" class="btn btn-primary" type="submit" data-toggle="modal" data-target=".modal-change" ng-click="openModal()"><span class="glyphicon glyphicon-pencil"></span></button>
        </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="modal fade modal-change" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body name-modal">
                            <div class="row">
                                <div class="col-xs-12">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                                    <label>Tu peux changer ton prénom dans le jeu ici&nbsp;!</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <input class="form-control input-lg" type="text" ng-model="userName" required placeholder="Ton prénom">
                                    <button class="btn btn-primary btn-block valid-name" type="button" class="valid" ng-click="validUser()" data-dismiss="modal">Ok</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Modal Deconnected-->

    <div class="row">
        <div class="col-xs-12 deconnect">
            <button class="btn btn-primary btn-block" type="submit" data-toggle="modal" data-target=".modal-deconnected" ng-click="openModal()">Se déconnecter</button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="modal fade modal-deconnected" ng-hide="hideModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body deconnect-modal">
                            <div class="row">
                                <div class="col-xs-12">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                                    <label>Es-tu sûr de vouloir te déconnecter&nbsp;?</label>
                                </div>
                            </div>
                            <div class="row cancel-valid">
                                <div class="col-xs-12">
                                    <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Annuler</button>
                                    <button type="button" class="btn btn-primary btn-block" data-dismiss="modal" ng-click="goHome()">Confirmer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default vueMesRecompenses" ng-show="vueModifier">
    <table class="table table-bordered challenge">
        <tbody ng-repeat="reward in rewardList" ng-class="isUnlocked">
            <tr>
                <td class="col-xs-4 img-column">
                    <img class="img-responsive" src="{{ reward.picto }}" alt="Récompense">
                </td>
                <td class="col-xs-8">
                    <h3>{{ reward.name }}</h3>
                    <p>{{ reward.objectif }}</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</div>
