<div class="container-fluid">

    <header class="row">
        <div class="col-xs-12">
            <div class="dropdown">

                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  avatar<img class="miniAvatar col-xs-1" ng-src="{{currentAvatar}}" alt="avatar">

                  <span class="caret"></span>
                </button>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">photo<img class="miniAvatar col-xs-1" ng-src="{{currentAvatar}}" alt="avatar"></a></li>
                    <li><a href="#">photo<img class="miniAvatar col-xs-1" ng-src="{{currentAvatar}}" alt="avatar"></a></li>
                    <li><a href="#"><button type="button" class="btn addKids col-xs-1" ng-click="addKid()">+</button></a></li>
                    <!--<li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>-->
                </ul>
            </div>
            <h1>Mon profil</h1>
        </div>
    </header>
    <!--<h1 class="col-xs-10">Mon profil</h1>
    <button type="button" class="btn addKids col-xs-1" ng-click="addKid()">+</button>-->
    <div class="col-xs-12">
        <ul class="nav nav-tabs nav-justified">
            <li class="ongletsProfil col-xs-6" ng-click="modifier()">Modifier</li>
            <li class="ongletsProfil col-xs-6" ng-click="mesRecompenses()">Mes récompenses</li>
        </ul>
    </div>

    <div class="vueModifier" ng-hide="vueModifier">
        <div class="row">
            <div class="col-xs-12 choice-avatar">
                <button type="button" class="btn dart col-xs-3" ng-click="prev()"><</button>
                <img class="avatar col-xs-6" ng-src="{{currentAvatar}}" alt="avatar">
                <button type="button" class="btn dart col-xs-3" ng-click="next()">></button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2 class="col-xs-offset-4 col-xs-3 flex-center-vertically">Jean</h2>
                <button type="button" class="col-xs-1 glyphicon glyphicon-pencil flex-center-vertically"></button>
            </div>
        </div>
        <div class="row">

            <div class="col-xs-12 name">
                <button class="col-xs-offset-4 col-xs-4 deconnecter" type="submit" ng-click="deconnecter()">se déconnecter</button>

            </div>
        </div>
    </div>
    <div class="vueMesRecompenses" ng-hide="vueMesRecompenses">
        <div class="row">
            <div class="col-xs-12 challenge">
                <img class="col-xs-2 imgRecompense flex-center-vertically" src="img/chapeau1.png" alt="recompense">
                <div class="col-xs-3 cadeau flex-center-vertically">Cadeau 1</div>
                <div class="col-xs-4 ennonce flex-center-vertically">Aimer un nouvel aliment</div>
            </div>
            <div class="col-xs-12 challenge">
                <img class="imgRecompense col-xs-2 flex-center-vertically" src="img/chapeau2.jpg" alt="recompense">
                <div class="col-xs-3 flex-center-vertically">Cadeau 2</div>
                <div class="col-xs-4 flex-center-vertically">Aimer un nouvel aliment</div>
            </div>
        </div>

    </div>
</div>
