<div class="container-fluid">
    <div class="col-xs-12 advice">


        <div class="col-xs-12 bubble bottom ">
            <h1>Indique-moi ton prénom et choisi un avatar !</h1>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 choice-avatar">
            <button type="button" class="btn dart col-xs-3" ng-click="prev()"><</button>

            <div ng-swipe-left="prev()" ng-swipe-right="next()">
              <img class="avatar col-xs-6" ng-src="{{currentAvatar}}" alt="">
            </div>

            <button type="button" class="btn dart col-xs-3" ng-click="next()">></button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <input class="col-xs-offset-3 col-xs-6 input-name" type="text" placeholder="Dis moi ton nom" ng-model="userName">
        </div>
    </div>

    <div class="row name">
        <!-- <div class="col-xs-12 name"> -->
        <a>
            <button class="col-xs-offset-4 col-xs-4 btn btn-primary btn-lg ok" type="submit" ng-click="validProfil()">OK</button>
        </a>
        <!-- </div> -->
    </div>
</div>
