<div class="container-fluid">

    <div class="row">
        <div class="col-xs-12 bubble bottom home">
            <p><strong>Bonjour Jean !</strong> !<br>Et si tu regoûtais du kiwi<br/>aujourd'hui ?</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 text-center">
            <img class="avatar home" src="https://image.flaticon.com/icons/png/128/78/78373.png" alt="Avatar">
        </div>

        <div class="row">
            <div class="col-xs-12 discover">
                <a ui-sref="anon.gouter">
                    <button type="button" class="btn btn-primary btn-lg col-xs-12">OK !</button>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 login">
                <a ui-sref="anon.gouter">
                    <button type="button" class="btn btn-primary btn-lg col-xs-12">Peut-être plus tard</button>
                </a>
            </div>
        </div>
    </div>
</div>
